//@portfolio-color: rgba(208,91,70,1);
//@research-color: rgba(26, 132, 188, 1);
//@about-color: #0f8f7a;
//@font-color: white;

//light pastel
@portfolio-color: #B98894;
//@research-color: #CDD4DA;
@research-color: #77A9BA;
//@about-color: #C6D2CF;
@about-color: #A6C2AE;
@font-color: black;

//stronger pastel
//@portfolio-color: #B79DAA;
//@research-color: #73909D;
//@about-color: #9EB28A;

//dark colors
//@portfolio-color: #AB4374;
//@research-color: #2962A7;
//@about-color: #19697E;

@font-alt: "Caslon540BT-Regular";
@small-font: 0.9em;
@highlight: rgba(0, 0, 0, 0.5);

@breakpoint: 40em;
@breakpoint-1: 50em;
@colWidth: 40em;

@bw: 0px;  // border width
